/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3em;
  --font-semi: 900;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 1824;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Roboto", sans-serif;
  --big-font-size: 2em;
  --h2-font-size: 1.25em;
  --normal-font-size: 0.938em;
  --smaller-font-size: 0.75em;
  /*===== Margenes =====*/
  --mb-2: 1em;
  --mb-4: 2em;
  --mb-5: 2.5em;
  --mb-6: 3em;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5em;
    --h2-font-size: 2em;
    --normal-font-size: 1em;
    --smaller-font-size: 0.875em;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  scrollbar-color: #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #464646;
  border-radius: 0.5em;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: #fff;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #111;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1280px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.grid-bd {
  max-width: 1280px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  top: 0;
  left: 0;
  z-index: var(--z-fixed);

  display: flex;
  align-items: center;
  gap: 2em;
}

.hero {
  margin: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 30em;
  max-height: 22em;
  text-align: center;
  min-height: 22em;
}

.hero div img {
  max-width: 12em;
}

.hero div ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20em;
  list-style: disc;
  gap: 2em;
  color: rgba(255, 255, 255, 0.80);
}

.hero div ul li:first-child {
  border-radius: 2.25em;
  border: 1px solid rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(1.25em);
  display: flex;
  padding: 0.375em 0.75em;
  align-items: flex-start;
  gap: 10px;
}

.hero div span {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero div button{
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: #FFF;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.675em;
  margin-top: 1em;
  width: 8em;
  cursor: pointer;
  transition: all 0.5s;
}

.hero div button:hover{
  background: rgba(255, 255, 255, 0.90);
}

.hero em {
  height: 5em;
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  width: 100%;
}

.nav > div{
  display: flex;
  align-items: center;
}


.container-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1c1c1f;
  border-radius: 1.875em;
  padding: 0.7em 1.5em;
  cursor: text;
}

.search {
  position: relative;
  border: none;
  outline: none;
  font-size: 1em;
  background-color: #1c1c1f;
  border-radius: 1.875em;
  color: #fff;
  width: 1000px;
  height: 40px;
}

.link {
  color: #fff;
}

.icon-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 2em;
}

.icon-search span{
  font-weight: 300;
  font-size: 0.9em;
  color: #fff;
}

.icon-search-2 {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
}


.nav__list {
  display: flex;
  padding-top: 0;
  gap: 1em;

  flex-shrink: 0;
}

.nav__link {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
}

.nav__link:hover {
  position: relative;
}

.nav__logo {
  color: rgba(255, 255, 255, 0.80);

  font-size: 2em;
}

.nav__toggle {
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}


.container {
  position: relative;
  margin-top: 4em;
}

.container.home {
  margin-top: 15em;
}

.carousel {
  margin: 3em 0 3em 0;
  position: relative;
  height: auto;
}

.carousel__container {
  white-space: nowrap;
  padding: 1em 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.carousel__container h3{
  margin-left: 0.5em;
  font-size: 1.25em;
  font-weight: 500;
}

.carousel__item {
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 0.5em;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.carousel_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel_header h3{
  margin-inline: 0.5em;
}

.carousel_header a{
  padding: 0.25em 0.75em;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(20px);
}

[data-top]::after{
  content: attr(data-top);
  font-size: 15em;
  color: #fffffffc;
  font-weight: bolder;
  position: absolute;
  top: 0;
}

[data-top] img {
  position: relative;
  width: 9em;
  height: 13em;
  z-index: 2;
  border-radius: 12px;
  margin-top: 4.75em;
  margin-left: 5em;
}

[data-top]{
  overflow: hidden;
}

.item-img {
  position: relative;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.carousel__container:hover .carousel__item:hover {
  transform: scale(1.1);
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 0.5em solid #f3f3f3;
  /* Light grey */
  border-top: 0.5em solid #383636;
  /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5em;
}

.movie_container {
  position: relative;
}

.movie_container .hero{
  justify-content: flex-start;
}

.movie_container .first{
  margin-top: 16em;
}

.movie_container .first > header,
.movie_container .first > article{
  margin-bottom: 2em;
}

.movie_container .hero_movie > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.movie_container .hero_movie div img {
  max-width: 12em;
  margin-bottom: 1em;
}

.movie_container .hero_movie div ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20em;
  list-style: disc;
  gap: 2em;
  color: rgba(255, 255, 255, 0.80);
}

.movie_container .hero_movie div ul li:first-child {
  border-radius: 2.25em;
  border: 1px solid rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(1.25em);
  display: flex;
  padding: 0.375em 0.75em;
  align-items: flex-start;
  gap: 10px;
}

.movie_container .hero_movie div span {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.movie_container .header-provider {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.movie_container .header-provider select{
  margin-left: auto;
}

.container__movie {
  background-image: linear-gradient(to top, #2e2e2e 0%, #000000 100%);
  padding: 1.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.container__movie img {
  border-radius: 0.5em;
  position: relative;
  width: 450px;
  height: 600px;
  max-width: 450px;
  max-height: 600px;
  object-fit: cover;
}

.container__movie-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.container__movie-data {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container__center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
  gap: 2em;
  margin-top: 1.5em;
}

.pelis_img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container__center-img {
  transform-origin: center;
  transition: 450ms all;
}

.container__center-img img {
  border-radius: 0.5em;
}

.container__center-img:hover {
  transform: scale(1.1);
}

.watch_provider {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1.5em;
  border-radius: 1em;
  border: 2px solid #121212;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: left;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(20px);
}

.watch_provider img {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.movie__trailers {
  display: flex;
  flex-direction: column;
}

.movie__trailers-videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;}

.videos {  
  width: 350px;
  height: 400px;
  position: relative;
  display: flex;
  margin-right: 20px;
}

.center__movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.movie__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  margin-top: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.movie__data-genre {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.movie_container h4 {
  color: var(--White, #FFF);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 92.857% */
  letter-spacing: 0.12px;
}

.movie_container .carousel_trailers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;}

.movie__data-cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
  gap: 2em;
  margin-top: 1.5em;
}

.movie__data-cast span{
  color: rgb(141, 141, 141);
}


.movie__data-cast p{
  font-size: 0.875em;
}

.movie__data-cast img{
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  width: 90%;
}

.movie__data-cast h4 {
  margin-right: 0.5em;
}

.container__movie-similar {
  position: relative;
}

.carousel__movie {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.carousel__container__movie {
  white-space: nowrap;
  margin: 0 0 1.5em;
}

.carousel__item__movie {
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 0.5em;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

.carousel_genres {
  margin-top: 1em;
  position: relative;
  margin-bottom: 150px;
}

.carousel_genres h3{
  margin-inline: 1em;
}

.carousel__container_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1300px;
  height: 500px;
}

.carousel__item_genres {
  cursor: pointer;
  max-width: 200px;
  margin-left: 1em;
}

.carousel__card_genres {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  height: 100px;
  width: 200px;
  border-radius: 0.5em;
  text-align: center;
  transition: 450ms all;
  background-image: linear-gradient(to left, #261a2b 0%, #009bbe 100%);
}

.carousel__card_genres:hover {
  background-image: linear-gradient(to left, #211c23 0%, #21d4fd 100%);
  transition: 450ms all;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 120px;
}

.footer_items {
  position: relative;
  margin-right: 1em;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_links {
  text-decoration: none;
  color: rgb(189, 189, 189);
  margin-left: 5px;
}

.footer_items i {
  font-size: 1.5em;
  color: #3665d2;
}

.footer_links:hover {
  color: #fff;
}

.carousel_providers {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  height: 180px;
  margin-bottom: 50px;
}

.providers h3{
  margin-bottom: 0em;
  margin-top: 4em;
}

.carousel__container_providers {
  white-space: nowrap;
  margin: 50px 0px;
}

.carousel__item_providers {
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin-left: 10px;
}

.carousel__card_providers img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.carousel__item_providers:hover {
  background-image: linear-gradient(to left, #211c23 0%, #21d4fd 100%);
  transition: 450ms all;
  transform: scale(1.1);
}

.filtros{
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.filtros ul {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: #272727;
  width: 100%;
  border-radius: 0.5em;
  border: 2px solid #3d3d3d;
}

.filtros select{
  padding: 0.5em;
  background-color: #272727;
  color: white;
  border-radius: 0.5em;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2em;
    background-color: var(--second-color);
    transition: 0.5s;
  }




  .container__movie {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }

  .center__movie {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px;
  }

  .container__movie img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
  }

  .movie__data {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
  }

  /* .movie__data-genre {
    flex-wrap: wrap;
    width: 100%;
  } */


  .carousel__movie {
    max-width: 100%;
    height: 100%;
  }

  .carousel__item__movie {
    width: 150px;
    max-width: 100%;
  }

  .contenedor {
    max-width: 100%;
    width: 100%;
    padding-top: 40px;
    height: 100%;
  }

  .watch_provider {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .watch_provider img {
    max-width: 100%;
    width: 30px;
    height: 30px;
  }

  .movie__trailers-videos {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
  }

  .container__movie-data {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .footer_items {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 780px) {

  body{
    margin: 0;
    font-size: 3vw;
  }

  .icon-search{
    width: max-content;
    margin-left: auto;
  }

  .icon-search span{
    display: none;
  }

  .movie_container .hero_movie > div{
    justify-content: flex-start;
  }

  .movie__data-cast img{
    width: 100%;
  }

  .videos{
    width: 200px;
  }

  .container.home{
    margin-top: 22em;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5em);
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: rgba(255, 255, 255, 0.80);

  }

  .home {
    padding: 8em 0 2em;
  }

}

@media screen and (max-width: 948px) {
  .header {
    flex-direction: column;
  }

  .nav{
    justify-content: flex-start;
    gap: 2em;
  }

  .header .link{
    width: 100%;
  }

  .icon-search{
    width: 100%;
  }

  
  .container-search {
    display: flex;
    width: 100%;
  }

  .search {
    width: 100%;
  }

  .icon-search-2 {
    display: none;
  }

  .carousel__container_genres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .carousel__card_genres {
    width: 250px;
  }

  .carousel__item_genres {
    margin-left: 0px;
    max-width: 100%;
  }

  [data-top] img{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: unset;
  }
}

@media screen and (max-width: 580px){
  .carousel__container_genres{
    justify-content: center;
  }

  .container.home{
    margin-top: 32em;
  }
} 

@media screen and (min-width: 1280px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  /* .movie_container .hero div{
    margin-left: auto;
    margin-right: auto;
  } */

  .grid-bd {
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    padding: 10em 0 2em;
  }


}